/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.security {
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xs);
  @media only screen and (max-width: 550px) {
    flex-direction: column;
  }
}

.rowshield_three {
  margin-top: 4px;
  gap: var(--space-xs);
  align-self: end;
  flex: 1;
  display: flex;
  align-items: start;
  @media only screen and (max-width: 550px) {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.shield_three {
  height: 30px;
  width: 30px;
}

.security_three {
  color: var(--green_400_7f) !important;
  align-self: center;
  @media only screen and (max-width: 1050px) {
    font-size: 24px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 22px;
  }
}

.settings_three {
  height: 36px;
  width: 36px;
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.email-1 {
  color: var(--green_400_7f);
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
  font-weight: 700;
  gap: var(--space-xs);
  display: flex;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  align-self: stretch;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: var(--radius-xs);
}

.mail {
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 30px;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.desktop-two {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  background-color: var(--green_400);
  width: 100%;
  display: flex;
}

.rowlogintoyour {
  margin-bottom: 32px;
  width: 100%;
  display: flex;
  align-items: start;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.columnpizee2one {
  margin-top: 8px;
  gap: 66px;
  display: flex;
  width: 46%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }

  @media only screen and (max-width: 550px) {
    gap: 33px;
  }
}

.rowpizee2one {
  gap: 8px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.pizee2one_one {
  height: 104px;
  width: 10%;
  object-fit: contain;
}

.fatlanta {
  color: var(--deep_orange_300) !important;
  font-family: Chewy !important;
  align-self: end;
  text-shadow: 0px 0px 12px #0000003f;
  @media only screen and (max-width: 1050px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 34px;
  }
}

.logintoyour {
  margin-right: 42px;
  align-self: end;
  text-shadow: 0px 4px 4px #0000003f;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }

  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.columnemail {
  margin-left: 56px;
  margin-right: 56px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: end;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.email {
  color: var(--green_400_7f);
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
  font-weight: 700;
  gap: var(--space-xs);
  display: flex;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 94%;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: var(--radius-xs);
}

.password {
  color: var(--green_400_7f);
  margin-top: 50px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 30px;
  font-weight: 700;
  gap: var(--space-xs);
  display: flex;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  width: 94%;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: var(--radius-xs);
}

.forgotpassword-link {
  margin-top: 10px;
  margin-left: 50px;
  align-self: start;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.log_in {
  color: var(--white_a700);
  margin-top: 18px;
  padding-left: 34px;
  padding-right: 34px;
  font-size: 48px;
  font-weight: 700;
  align-self: center;
  background-color: var(--green_200);
  box-shadow: var(--shadow-xs);
  text-align: center;
  height: 78px;
  min-width: 230px;
  border-radius: var(--radius-sm);
  @media only screen and (max-width: 1440px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.stackcreateacco {
  height: 1046px;
  padding-left: 8px;
  padding-right: 8px;
  align-self: center;
  flex: 1;
  position: relative;
  align-content: center;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    width: 100%;
    flex: unset;
    height: auto;
  }
}

.rownewhere {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: start;
  margin-left: auto;
  margin-right: auto;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.column {
  align-self: center;
  background-color: var(--white_a700);
  width: 88%;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.rowcreateaccoun {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.image {
  height: 1046px;
  width: 10px;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.columncreateacc {
  padding-left: 54px;
  padding-right: 54px;
  gap: 4px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.createaccount-link {
  text-shadow: 0px 4px 4px #0000003f;
  @media only screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.createaccount {
  color: var(--green_400) !important;
}

.columnsecurity {
  margin-right: 4px;
  gap: 30px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    margin-right: 0px;
  }
}

.sign_up {
  color: var(--white_a700);
  padding-left: 26px;
  padding-right: 26px;
  font-size: 48px;
  font-weight: 700;
  background-color: var(--green_400);
  box-shadow: var(--shadow-xs);
  text-align: center;
  height: 78px;
  min-width: 230px;
  border-radius: var(--radius-sm);
  @media only screen and (max-width: 1440px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.settings {
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 36px;
}

.newhere {
  margin-top: 20px;
  margin-left: -4px;
  transform: rotate(90deg);
  position: relative;
  text-shadow: 0px 4px 4px #0000003f;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }

  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
  }
}

.rowview {
  padding-left: 34px;
  padding-right: 34px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: max-content;
  margin: auto;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    position: relative;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.view {
  height: 10px;
  z-index: 1;
  transform: rotate(-180deg);
  align-self: end;
  background-color: var(--deep_orange_300);
  width: 94%;
  position: relative;
  @media only screen and (max-width: 1050px) {
    align-self: auto;
  }
}

.image_one {
  height: 1046px;
  margin-left: -10px;
  position: relative;
  width: 10px;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-left: 0px;
  }
}
