AppKit==0.2.8
attr==0.3.2
bokeh==3.5.2
bpython==0.24
brotli==1.1.0
brotlicffi==1.1.0.0
cairocffi==1.7.1
Carbon==1.1.10
ConfigParser==7.1.0
contextlib2==21.6.0
cryptography==43.0.1
cx_Oracle==8.3.0
Cython==3.0.11
defcon==0.10.3
defusedxml==0.7.1
docutils==0.21.2
freetype_py==2.5.1
fs==2.4.16
glyphsLib==6.9.0
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.112.1
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipdb==0.13.13
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
jnius==1.1.0
keyring==25.4.1
lockfile==0.12.2
lxml==5.3.0
lz4==4.3.3
mock==5.1.0
mtrand==0.1
munkres==1.1.4
mypy==1.11.2
MySQL-python==1.2.5
olefile==0.47
oracledb==2.4.1
pandas==2.2.3
pickle5==0.0.12
protobuf==5.28.2
psutil==6.0.0
psycopg==3.2.2
psycopg2==2.9.9
psycopg_pool==3.2.3
PyInstaller==6.10.0
pylibmc==1.6.3
pymemcache==4.0.0
pyodide==0.0.2
pyOpenSSL==24.2.1
PyQt5==5.15.11
PyQt6==6.7.1
PySide2==5.15.2.1
PySide6==6.7.2
pytest==8.3.3
python-dotenv==1.0.1
pytz==2024.2
pywatchman==2.0.0
pywin32==306
PyYAML==6.0.2
Quartz==0.0.1.dev0
railroad==0.5.0
reportlab==4.2.2
Res==0.1.7
scipy==1.14.1
scipy_doctest==1.4
setuptools==75.1.0
setuptools_scm==8.1.0
shiboken2==5.15.2.1
shiboken6==6.7.2
simplejson==3.19.3
sip==6.8.6
Sphinx==8.0.2
sphinx_gallery==0.17.1
sympy==1.13.3
tblib==3.0.0
thread==2.0.5
threadpoolctl==3.5.0
tornado==6.4.1
truststore==0.9.2
ufoLib2==0.16.0
uharfbuzz==0.41.0
unicodedata2==15.1.0
urllib3_secure_extra==0.1.0
xattr==1.1.0
xmlrpclib==1.0.1
zopfli==0.2.3
zstandard==0.23.0
