/*=========== TABLE OF CONTENTS ===========
1. Text CSS
2. Heading CSS
==========================================*/

/*-------------------------------------
  1. Text CSS
--------------------------------------*/
.ui.text.size-textxs {
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  @media only screen and (max-width: 1440px) {
    font-size: 23px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 26px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 24px;
  }
}

.ui.text.size-texts {
  font-size: 60px;
  font-weight: 400;
  font-style: normal;
  @media only screen and (max-width: 1440px) {
    font-size: 51px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 52px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 46px;
  }
}

.ui.text {
  color: var(--black_900_4c);
  font-family: Inter;
}

/*-------------------------------------
  2. Heading CSS
--------------------------------------*/
.ui.heading.size-headingxs {
  font-size: 30px;
  font-weight: 700;
  font-style: bold;
  @media only screen and (max-width: 1440px) {
    font-size: 25px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 28px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
  }
}

.ui.heading {
  color: var(--black_900);
  font-family: Inter;
}
