/*=========== TABLE OF CONTENTS ===========
1. CSS Variables
2. Utility CSS
==========================================*/

/*-------------------------------------
  1. CSS Variables
--------------------------------------*/
:root {
  /*------Color variables------*/
  --black_900: #000000;
  --black_900_3f: #0000003f;
  --black_900_4c: #0000004c;
  --blue_gray_100: #d9d9d9;
  --deep_orange_300: #ff914c;
  --gray_700: #636363;
  --gray_900: #1e1e1e;
  --gray_900_01: #1d1b20;
  --green_400: #4cb27c;
  --white_a700: #ffffff;

  /*------Shadow variables------*/
  --shadow-xs: 0 0 12px 0 #0000003f;

  /*------Border radius variables------*/
  --radius-xs: 3px;
  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 24px;
  --radius-2xl: 28px;
  --radius-3xl: 34px;

  /*------Spacing variables------*/
  --space-xs: 2px;
  --space-sm: 8px;
  --space-md: 10px;
  --space-lg: 80px;
}

/*-------------------------------------
  2. Utility CSS
--------------------------------------*/
.flex-row-center-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
