/*=========== TABLE OF CONTENTS ===========
1. Common CSS
2. Page CSS
==========================================*/

/*-------------------------------------
  1. Common CSS
--------------------------------------*/
.settings {
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 36px;
}

.email {
  color: var(--green_400_7f);
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  font-size: 30px;
  font-weight: 700;
  gap: var(--space-xs);
  display: flex;
  background-color: var(--white_a700);
  box-shadow: var(--shadow-xs);
  align-items: center;
  justify-content: center;
  height: 56px;
  border-radius: var(--radius-xs);
}

.mail {
  height: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
  width: 30px;
}

/*-------------------------------------
  2. Page CSS
--------------------------------------*/
.desktop-three {
  padding-left: var(--space-xs);
  padding-right: var(--space-xs);
  background-color: var(--green_400);
  width: 100%;
  display: flex;
  align-items: start;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
  }
}

.columnreset {
  margin-top: 8px;
  gap: 58px;
  display: flex;
  width: 46%;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }

  @media only screen and (max-width: 550px) {
    gap: 29px;
  }
}

.columnpizee2one {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rowpizee2one {
  gap: 8px;
  align-self: stretch;
  display: flex;
  align-items: center;
}

.pizee2one_one {
  height: 104px;
  width: 10%;
  object-fit: contain;
}

.fatlanta {
  align-self: end;
  text-shadow: 0px 0px 12px #0000003f;
  @media only screen and (max-width: 1050px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 34px;
  }
}

.forgotpassword-link {
  text-shadow: 0px 4px 4px #0000003f;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.forgotpassword {
  color: var(--white_a700) !important;
}

.columnemail {
  margin-left: 92px;
  margin-right: 56px;
  gap: 30px;
  display: flex;
  align-self: stretch;
  flex-direction: column;
  @media only screen and (max-width: 1050px) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.reset_password {
  color: var(--white_a700);
  padding-left: 24px;
  padding-right: 24px;
  font-size: 48px;
  font-weight: 700;
  background-color: var(--green_200);
  box-shadow: var(--shadow-xs);
  text-align: center;
  height: 78px;
  min-width: 424px;
  border-radius: var(--radius-sm);
  @media only screen and (max-width: 1440px) {
    font-size: 40px;
  }

  @media only screen and (max-width: 1050px) {
    font-size: 32px;
  }

  @media only screen and (max-width: 550px) {
    font-size: 26px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.stackdidsomeone {
  height: 1046px;
  margin-bottom: 32px;
  padding-left: 56px;
  padding-right: 56px;
  align-self: center;
  flex: 1;
  position: relative;
  align-content: center;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    width: 100%;
    flex: unset;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.rowdidsomeone {
  margin-right: 32px;
  background-color: var(--white_a700);
  flex: 1;
  display: flex;
  align-items: center;
  margin-left: auto;
  @media only screen and (max-width: 1440px) {
    margin-right: 0px;
  }

  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    margin-right: 0px;
  }
}

.image {
  height: 1046px;
  width: 10px;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
  }
}

.columndidsomeon {
  flex: 1;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.didsomeone {
  text-align: center;
  z-index: 1;
  position: relative;
  line-height: 87px;
  @media only screen and (max-width: 1440px) {
    font-size: 48px;
  }
}

.imageone_one {
  height: 854px;
  margin-top: -34px;
  position: relative;
  width: 100%;
  object-fit: cover;
  @media only screen and (max-width: 1440px) {
    height: auto;
  }

  @media only screen and (max-width: 1050px) {
    height: auto;
  }
}

.rowview {
  z-index: 2;
  flex: 1;
  position: absolute;
  display: flex;
  align-items: center;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  height: max-content;
  margin: auto;
  @media only screen and (max-width: 1050px) {
    flex-direction: column;
    position: relative;
  }
}

.view {
  height: 10px;
  z-index: 3;
  transform: rotate(-180deg);
  align-self: end;
  background-color: var(--deep_orange_300);
  flex: 1;
  position: relative;
  @media only screen and (max-width: 1050px) {
    align-self: stretch;
  }

  @media only screen and (max-width: 550px) {
    align-self: auto;
  }
}

.image_one {
  height: 1046px;
  margin-left: -10px;
  position: relative;
  width: 10px;
  object-fit: cover;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    margin-left: 0px;
  }
}
